<h4>Log In Page</h4>

<section class='login-form'>
  <div class="transbox">
  <%= form_for :session do |f| %>
    <div>
      <p id='label'><%= f.label :email %></p>
      <p id='field'><%= f.email_field :email %></p>
    </div>
    <div>
      <p id='label'><%= f.label :password %></p>
      <p id='field'><%= f.password_field :password %></p>
    </div>
    <p id='submit'><%= f.submit 'Log In' %></p>
  <% end %>

  <%= button_to "Sign In Using Google", '/auth/google_oauth2'%>
  </div>
</section>
