<div class="body-box">
  <div class="body-title">
    <div class="transbox">
      <h1><%= facade.name %></h1>
    </div>
  </div>
  <div class="body-description">
    <div class="transbox">
      <%= facade.description %>
    </div>
  </div>

  <div class="body-image">
      <img src="<%= facade.image %>" alt="Image of <%= facade.name %>">
  </div>



  <div class="tracking-button">
    <%= form_for :telescope, url: celestial_body_telescope_index_path(celestial_body_id: facade.body), method: :post do |f| %>
      <%= f.hidden_field(:location, :value => facade.user_location) %>
      <%= f.submit "Point My Telescope at #{facade.name}" %>
    <% end %>
  </div>
</div>
