<% if params[:button] == "planet_search" %>
<h1>Search Results</h1>
<section class="search-results">
  <h4>My Location: <%= @facade.user_estimated_location %></h4>
  <h4 id="search-time">Search Time: <%= local_time(@facade.search_time) %></h4>
  <div class="results">
    <% @facade.body_results.each do |body| %>
      <section class="celestial-body">
        <div class="body-link">
          <%=link_to body.name, celestial_body_path(body.name, location: @facade.user_telescope_location) %>
        </div>
        <div class="body-angles">
          Azimuth <%= body.user_az %> <br>
          Elevation <%= body.user_el %> <br><br>
          Right Ascension <%= body.user_ra %> <br>
          Declination <%= body.user_dec %> <br>
        </div>
      </section>
    <% end %>
  </div>

  <div class="search-and-refresh">
    <div class="new-search">
      <%= button_to "New Search", new_search_path, method: :get %>
    </div>

    <div class="refresh-search">
      <input type="button" name="refresh" value="Refresh" onClick= "window.location.reload();" >
    </div>
  </div>
  <div class="weather">
    <% @facade.weather.each do |hour| %>
    <section class='hourly_weather'>
      <div class="hour_weather">
        <ul>
          <li><%= local_time(hour.time, '%I %p') %></li>
          <li><%= image_tag hour.icon %></li>
          <li><%= hour.summary %></li>
          <li>Temperature: <%= hour.temperature %>°</li>
          <li>Cloud Coverage: <%= hour.cloud_cover_percentage %>%</li>
          <li>Chance of Rain: <%= hour.precipProbability %>%</li>
        </ul>
      </div>
    </section>
    <% end %>
  </div>
</section>

<% else %>

<h1>Find the International Space Station</h1>
<div class="iss-search-result-container">
  <div class="iss-search-result">
    <p>Search location: <%= @facade.user_estimated_location %></p>
    <p>Time of search: <%= local_time(@facade.time_of_search) %></p>

    <p>Next Rise Time: <%= local_time(@facade.next_rise_time) %></p>
    <p>Duration: <%= @facade.duration %> minutes </p>
  </div>
</div>
<div class="text-alert-container">
  <div class="text-alert-form">
    <%= form_tag('/iss_alerts', method: :get) do %>
      <label for="phone">Enter your phone number to schedule a text message alert 15 mins prior to next rise time (<%= local_time(@facade.next_rise_time - (15 * 60)) %>):</label>

      <input type="tel" id="phone" name="phone"
        pattern="[0-9]{10}"
        placeholder="Format: 1234567890"
        title="Format: 1234567890"
        required>

      <%= hidden_field_tag :scheduled_time, (@facade.next_rise_time - (15 * 60)) %>
      <p id='submit'>
        <%= submit_tag("Schedule text message") %>
      </p>
    <% end %>
  </div>
</div>

<% end %>
