<h1>New Search Page</h1>

<section class='search'>
  <%= form_tag('/search', method: :get) do %>
    <% celestial_bodies.each do |body| %>
      <div class='check-box'%>
        <%= check_box_tag 'bodies[]', body.name %>
        <%= label_tag body.name %>
      </div>
    <% end %>
    <p id='location'>
      <%= label_tag :location %>
      <!-- Need to resize this input field -->
      <input type="input-field" name="location" title="location" id="location" placeholder="A street address A city or neighborhood A Postal Code A point of interest such as a public park">
    </p>
    <p id='submit'>
      <%= submit_tag("Search") %>
    </p>
  <% end %>
</section>
