<h1>New Search</h1>

<div class="search-box">
  <section class='search-body-box'>
    <%= form_tag('/search', method: :get) do %>
    <p id="location-search-box">
      <%= label_tag :location %>
      <input type="input-field" name="location" title="location" id="location" placeholder="A street address, A city or neighborhood, A postal code, A point of interest" class="location-field">
      <br><button id='browser-location' type='button'>Find My Location</button>
      <p id='status'></p>
    </p>

      <h1>Celestial Body Search</h1>
      <div class="body-choices">
        <% celestial_bodies.each do |body| %>
            <div class='check-box'%>
              <%= check_box_tag 'bodies[]', body.name %>
              <%= label_tag body.name %>
            </div>
        <% end %>
      </div></br>

    <p id='submit'>
      <%= button_tag "Planet Search" , value: :planet_search %>
    </p>

      <h1>Find the International Space Station</h1>
      <p id='submit'>
        <%= button_tag "Find ISS" , value: :iss_search %>
      </p>
    <% end %>
  </section>
