<div class="search-box">
  <section class='search-body-box'>
    <%= form_tag('/search', method: :get) do %>

      <div id="location-search-box">
        <h1 id="location-header">Enter Your Location</h1>
        <h5 id="pin-header">Or click pin to use browser location</h5>
        <div class="location-search">
          <input type="input-field" name="location" title="location" id="location" placeholder="A street address, A city or neighborhood, A postal code, A point of interest" class="location-field" value="<%= session[:location] %>"></input>
          <br />
          <%=image_tag('pin.green.png', id: 'browser-location', class: 'location-default') %>
        </div>
        <p id='status'></p>
      </div>

      <h1>Find a Celestial Body</h1>

      <div class="body-choices">
        <% celestial_bodies.each do |body| %>
            <div class='check-box'%>
              <%= check_box_tag 'bodies[]', body.name %>
              <%= label_tag body.name %>
            </div>
        <% end %>

      </div><br />

      <p id='submit'>
        <%= button_tag "Planet Search" , value: :planet_search %>
      </p>


      <h1>Find the International Space Station</h1>
      <p id='submit'>
        <%= button_tag "Find ISS" , value: :iss_search %>
      </p>

    <% end %>
  </section>
</div>
