<div class="nav_bar" >
  <section class="upper_ship_nav_dash">
    <section class="bottomleft">
      <div id="rectangle">
        <%= link_to 'Login'%>
      </div>
      <div id="triangle-bottomleft">

      </div>
    </section>
    <section class="bottomright">
      <div id="triangle-bottomright">

      </div>
      <div id="rectangle">
        <%= link_to 'Register'%>
      </div>
    </section>
  </section>
  <section class="main_body_of_nav_bar">
    <div id="rectangle">
      <%= link_to 'Calendar'%>
    </div>
    <div class="user_feature_bar">
      <div id="kits">
        <%= link_to 'Kits'%>
      </div>
      <div id="inst">
        <%= link_to 'Inst.'%>
      </div>
      <div id="new_search">
        <%= link_to 'New Search'%>
      </div>
    </div>
    <div id="rectangle">
      <%= link_to 'About'%>
    </div>
  </section>
</div>
