<head>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<nav class="topnav">
  <div class="logo-title">
    <div class="small-logo">
      <a href='/'>
        <img src="https://previews.123rf.com/images/mirquurius/mirquurius1801/mirquurius180100024/93833130-astronaut-looks-through-the-telescope-to-universe-on-abstract-moon-hand-drawn-style-space-vector-ill.jpg" >
      </a>
    </div>
    <div class="nav-title">
      SPACE IN YOUR FACE
    </div>
</div>

  <div class="nav-links">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <% if current_user %>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Register', new_user_path %>
    <% end %>
  </div>
</nav>
