<div class="iss-search-result-container">
  <div class="iss-search-result">
    <h1>Find the International Space Station</h1>
    <div class="pass-info">

      <p>Search location: <%= facade.user_estimated_location %></p>
      <p>Time of search: <%= local_time(facade.time_of_search) %></p>

      <p>Next Rise Time: <%= local_time(facade.next_rise_time) %></p>
      <p>Duration: <%= facade.duration %> minutes </p>
    </div>

      <div class="text-alert-form">
        <%= form_tag('/iss_alerts', method: :get) do %>
        <label for="phone">Enter your phone number to schedule a text message alert 15 mins prior to next rise time (<%= local_time(facade.next_rise_time - (15 * 60)) %>):</label>

        <input type="tel" id="phone" name="phone"
        pattern="[0-9]{10}"
        placeholder="Format: 1234567890"
        title="Format: 1234567890"
        required>

        <%= hidden_field_tag :rise_time, local_time(facade.next_rise_time) %>
        <p id='submit'>
          <%= submit_tag("Schedule text message") %>
        </p>
        <% end %>
      </div>
  </div>
</div>
