<div class="about_container">
    <h1>About</h1>
    <section id='about_message'>
      <p>
        Space In Your Face, where you can track celestial bodies in the night sky as they pass by.
        It is cool, fun and educational. Bring your own telescope that will track the
        movement of that object so you can enjoy an even better viewing experience.<br /><br />
        This is a group project that took place during Mod 3 at Turing School of Software & Design. This team included
         <%= link_to 'Jeremy Bennett', 'https://github.com/JaxJafinPapau'%>,
         <%= link_to 'Deonte Cooper', 'https://github.com/djc00p' %>,
         <%= link_to 'Matt Levy', 'https://github.com/milevy1'%>,
         <%= link_to 'Corey Sheesley', 'https://github.com/CSheesley?tab=repositories' %>, and  <%= link_to 'Matt Weiss', 'https://github.com/Matt-Weiss'%>.<br /><br />
        For this app we built our own open source Microservice to provides the API endpoints that are needed. Using an impressive dataset provided by Jet Propulsion Laboratory, combined with a Skyfield - Python package that performs complex calculations - we were able to build out a stand alone Python application which delivers the information that we consume through the Space In Your Face Rails application.
      </p>
    </section>
    <h1>Telescope Instructions</h1>
    <section id='telescope_instructions'>
      <p>set it up like this!</p>
    </section>
    <h1>Credits</h1>
    <section id='credit_to'>
      <p><%= link_to 'Skyfield', 'https://rhodesmill.org/skyfield/' %></p>
      <p><%= link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/Lists_of_planets' %></p>
    </section>
</div>
