<div class="page-container">
  <div class="page-card">
  </div>
  <div class="page-card wide content-container">
    <div class="content-card">
    </div>
    <div class="content-card">
      <h1>About</h1>
      <section class='about_box' id='about_message'>
        <p>
          Space In Your Face, where you can track celestial bodies in the night sky as they pass by.
          It is cool, fun and educational. Bring your own telescope that will track the
          movement of that object so you can enjoy an even better viewing experience.<br /><br />
          This is a group project that took place during Mod 3 at Turing School of Software & Design. This team included
          <%= link_to 'Corey Sheesley', 'https://github.com/CSheesley?tab=repositories' %>,
          <%= link_to 'Deonte Cooper', 'https://github.com/djc00p' %>,
          <%= link_to 'Jeremy Bennett', 'https://github.com/JaxJafinPapau'%>,
          <%= link_to 'Matt Levy', 'https://github.com/milevy1'%>,
          and  <%= link_to 'Matt Weiss', 'https://github.com/Matt-Weiss'%>.<br /><br />
          For this app we built our own open source Microservice to provides the API endpoints that are needed. Using an impressive dataset provided by Jet Propulsion Laboratory, combined with a Skyfield - Python package that performs complex calculations - we were able to build out a stand alone Python application which delivers the information that we consume through the Space In Your Face Rails application.
        </p>
      </section>
      <h1>How to View Planets</h1>
      <section class='about_box' id='telescope_instructions'>
        <p>In order to look at planets with the naked eye, you just need to turn the right direction
        and look up the right amount. Our application gives you the Azimuth in degrees, and a basic instruction
        for which direction to face. If you want to be more precise, you just need to know that North is 0 degrees,
        East is 90, South is 180, West is 270, and 360 is back to North. </p>
        <p>For Elevation, things are a little more complex due to lack of reference points. This application gives you elevation in
        degrees over the expected horizon. It will be inaccurate if your horizon is full of hills or mountains for example.
        We've used the below guides to estimate for the user how many fingers above the horizon that an object should be.</p>
        <%= image_tag('altitude.png', class: 'help-image') %>
        <p>This image illustrates your approximate vertical field of view</p>
        <%= image_tag('measuring-sky-with-hand.png', class: 'help-image') %>
        <p>This image indicates what the app means when we use "fingers above the horizon".
        We recommend using 2 or 4 fingers at a time for best consistency.</p>
      </section>
      <h1>Telescope Instructions</h1>
      <section class='about_box' id='telescope_instructions'>
        <p>This application assumes that you are using a telescope with an equatorial mount that has
        been properly zeroed. This is the best setup video available.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/plx6XXDgf2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='video'></iframe>
        <p>It's cheesy, but extremely informative. Once your scope is properly zeroed, you should be able to use
        your scope's setting circles and dial in to the planet of your choice.</p>
      </section>
      <h1>Credits</h1>
      <section id='credit_to'>
        <p><%= link_to 'Skyfield', 'https://rhodesmill.org/skyfield/' %></p>
        <p><%= link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/Lists_of_planets' %></p>
      </section>
    </div>
    <div class="content-card">
    </div>
  </div>
  <div class="page-card">
  </div>
</div>
